.offers {
    height: 100%;
    position: relative;
}

.backpage {
    position: absolute;
    z-index: 0;
    left: 0;
    width: 100vw;
    object-fit: cover;
}
.content {
    padding: 6rem 0;
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}