.screens {
    height: 300px;
    display: flex;
    align-items: center;
}
.left {
    flex: 1;
    position: relative;
    z-index: 10;
}
.right {
    flex: 1;
}
.right h1 {
    font-style: normal;
font-weight: 800;
font-size: 40px;
line-height: 48px;
color: white;
}

.apps {
    margin-top: 2rem;
    display: flex;
    gap: 3rem;
}
