.slider {
  height: 200px;
  position: relative;
}
.combo {
  padding: 2rem 0rem;  
}
.combo div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.combo img {
  width: 95px;
  height: 85px;
  object-fit: contain;
}
.combo p {
  margin-top: 1.5rem;
  font-weight: 600;
  font-size: 11px;
  color: var(--black);
  text-align: center;
}
.active p {
  color: var(--red);
}
.active img {
  transform: scale(1.5);
}
.order {
  position: absolute;
  left: 30rem;
  bottom: 11rem;
  z-index: 10;
  background-color: var(--yellow);
  padding: 1rem 2.5rem;
  border-radius: 25px;
}

.order a {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: white;
}
.order:hover {
  background-color: var(--black);
  /* color: var(--black); */
}